.header-color {
  background: #ffdde1;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffdde1, #ffdde1);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffdde1, #ffdde1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
margin:auto;
}

.landing-grid{
  background: #ffdde1;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffdde1, #ffdde1);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffdde1, #ffdde1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera
   12+, Safari 7+ */  
   margin: auto;
}

.banner-text{
  background-color: black;
  opacity:.8;
  width:75%;
  margin:auto;
  border-radius:10px;
}
.banner-text h1 {
  font-size: 62px;
  font-weight: bold;
  color:white;
  text-align: center;
}

.banner-text hr {
  border-top:5px dotted white;
  width: 50%;
  margin:auto;
}

.banner-text p{
  color: white;
  font-size: 30px;
  padding: 1em;
  text-align: center;
}
.banner-text a{
  color: white;
text-decoration: none;  
}

.social-links{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin:auto;
  
}
.social-links i{
  color:white;
  font-size: 4em;
  padding:8px;
}